<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HHCircleView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77D2DD141B93428E00896C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D2DD281B93428F00896C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77D2DD331B93428F00896C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
